## Weeek_02

In [7]:
# Using format()

name = 'maxwel'
age = 10

print ("my name is {} i am {} years old".format(name, age))

# list_object[start, end, step]
name2 = "Ocean"
print(name[1: 4: 2])

my name is maxwel i am 10 years old
aw

In [4]:
# Slice the first and the last letter

name = "well"

print(name[0:3])

wel

### String methods

In [6]:
# split()
# strip()
# title()
# find()

## Friday project: printing a reciept

In [3]:
from tabulate import tabulate
## creat a product and price for three items
p1_name, p1_price = "Books", 49.95
p2_name, p2_price = "computer", 579.99
p3_name, p3_price = "Monitor", 124.89

#create a company name and information
company_name = "Afri World, inc."
company_address = "128 Franklin St."
company_city = "Nairobi, Konza City"

# Declare ending message
message = "Thanks for shopping with us!"

# Create a top border 
print("*" * 50)

# Print company information first, using format
print("*\t\t{}*".format(company_name.title()))
print("*\t\t{}*".format(company_address))
print("*\t\t{}*".format(company_city))

# print line between sections
print("=" * 50)

# print out header for section of items
print("*\tProduct Name \t Product Price \n*")

# create a print statement for each product
print("*\t{}\t\tKsh {}*".format(p1_name.title(), p1_price))
print("*\t{}\tKsh {}*".format(p2_name.title(), p2_price))
print("*\t{}\t\tKsh {}\t*".format(p3_name.title(), p3_price))

# print line between sections
print("=" * 50)

# print total
print("*\t\t\tTotal\t\t\t*")
total = p1_price + p2_price+p3_price
print("*\t\t\t{}\t\t*".format(total))

# Create a top border 
print("=" * 50)

print("*\tThankyou for shopping with us!\n\t*")

# Create a top border 
print("*" * 50)

star_line = "-" * 50
equals_line = "=" * 50
tab = "        "
tab2 = "    "

rece = f"""
{equals_line}
{tab}{company_name.title()} 
{tab}{company_address}
{tab}{company_city}
{equals_line}
{tab}Product Name {tab} Product Price 
{tab}{p1_name.title()}{tab}{tab}Ksh {p1_price}
"""
table = [[rece]]
output = tabulate(table, tablefmt='grid')

print(output)

**************************************************
*		Afri World, Inc.*
*		128 Franklin St.*
*		Nairobi, Konza City*
==================================================
*	Product Name 	 Product Price
*
*	Books		Ksh 49.95*
*	Computer	Ksh 579.99*
*	Monitor		Ksh 124.89	*
==================================================
*			Total			*
*			754.83		*
==================================================
*	Thankyou for shopping with us!
	*
**************************************************
+----------------------------------------------------+
| ================================================== |
|         Afri World, Inc.                           |
|         128 Franklin St.                           |
|         Nairobi, Konza City                        |
| ================================================== |
|         Product Name          Product Price        |
|         Books                Ksh 49.95             |
+----------------------------------------------------+

## Tabulate module
> what the hell

In [1]:
from tabulate import tabulate
name="ocean"

text = """
What is a 

{}
for sale
""".format(name)

table=[[text]]
output = tabulate(table, tablefmt='grid')
print(output)

+------------+
| What is a  |
|            |
| ocean      |
| for sale   |
+------------+

## Practice questions

In [4]:
# Reverse a string using slice
name = "max"

print(name[::-1])

names = ['max', 'dick', 'harry']
print(names)

xam
['max', 'dick', 'harry']

In [14]:
def likes(names):
    # your code here
    number_of_people = len(names)
    response = ''
    
    if number_of_people < 1:
        response = "[]\t\t\t--> no one likes this"
    elif number_of_people == 1:
        response = f"{names}\t\t {names[0].title()}--> likes this"
    elif number_of_people == 2:
        response = f"{names}\t\t {names[0].title()} and {names[1].title()} --> likes this"
    elif number_of_people == 3:
        response = f"{names}\t\t {names[0].title()}, {names[1].title()} and { names[2].title()} --> like this"
    else:
        response = f"{names}\t\t {names[0].title()}, {names[1].title()} and {number_of_people - 2} others --> likes this"
    
    return response
        
print(likes(["mark", "jonathan", "andrew", "not_ptya"]))

['mark', 'jonathan', 'andrew', 'not_ptya']		 Mark, Jonathan and 2 others --> likes this